.dashboard {
  position: relative;
  margin-left: 15%;
  margin-top: 3%;
  @media (max-width: 1300px) {
  }

  &__ossekour {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__charts {
    width: 840px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    @media (max-width: 1300px) {
      width: 600px;
    }

    .triple {
      margin-top: 30px;

      .chart {
        margin-right: 20px;
      }
    }
  }

  &__elements {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 500px;
    margin-left: 50px;
    @media (max-width: 1300px) {
      width: 150px;
      margin-left: 50px;
    }
  }
}
