@use "../utils/index" as u;

.scoreContainer {
  width: 240px;
  height: 233px;
  @media (max-width: 1300px) {
    width: 170px;
    height: 170px;
  }

  &__title {
    position: relative;
    @include u.fonts(15px, 500, u.$dark-gray);
    top: 20px;
    left: 50px;
    z-index: 10;
    opacity: 0.9;
    @media (max-width: 1300px) {
      top: 10px;
      left: 30px;
      @include u.fonts(12px, 500, u.$dark-gray);
    }
  }

  &__score {
    font-size: 26px;
    font-weight: 500;
  }
  &__your {
    @include u.fonts(16px, 400, u.$light-gray);
  }
}
